<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Защищенные одноразовые сообщения"/>
    <meta property="og:description" content="Чат с возможностью шифрования"/>
    <meta property="og:image" content="library/stickers/Ptichka_S_Konvertom.jpg"/>
    <meta property="og:url" content= "http://degree.kirill-shadrin.ru" />
    <title>Чат с защищенными сообщениями</title>
    <link rel="icon" type="image/x-icon" href="library/favicon.ico">
    <link rel="stylesheet" type="text/css" href="library/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/degree.css">
</head>
<body>

<div class="container" ng-app="degree" ng-controller="degreeController as ctrl">
    <div class="py-3 text-center">
        <h2 class="primary-header-text">Передавайте важные сообщения с полной безопасностью</h2>
        <p class="lead touch-message" ng-click="ctrl.about()">Подробнее</p>
        <p ng-if="ctrl.isAbout()" ng-bind-html="sce.trustAsHtml(aboutText)"></p>
    </div>
    <div class="w-50 mx-auto pb-3">
        <div class="input-group">
            <button type="button" class="btn btn-sm service-button" ng-click="ctrl.login()"
                    ng-disabled="ctrl.isLogin()">
                Войти
            </button>
            <input type="text" ng-model="nickname" class="form-control" ng-disabled="ctrl.isLogin()"
                   placeholder="Введите никнейм"/>
            <button type="button" class="btn btn-sm service-button" ng-click="ctrl.out()"
                    ng-disabled="!ctrl.isLogin()">
                Выйти
            </button>
        </div>
    </div>
    <div class="container pb-3">
        <div id="users" ng-if="ctrl.isLogin() && !ctrl.isUserSelected()" style="text-align: center">
            <span class="badge service-button" ng-if="!ctrl.isUsers()">Нет пользователей онлайн</span>
            <span class="badge service-button" ng-if="ctrl.isUsers()">Выберите пользователя, чтобы начать диалог</span>
            <ul class="list-group list-group-horizontal-sm">
                <li ng-repeat="user in ctrl.getUsers()" class="list-group-item">
                    <a ng-click="ctrl.selectUser(user)"> {{user}}</a>
                </li>
            </ul>
        </div>
        <div style="text-align: center" ng-if="ctrl.isUserSelected() && ctrl.isLogin()">
            <span class="badge another-button py-3 text-center touch-message" ng-click="ctrl.selectUser('')">Выбран пользователь {{ctrl.getSelectedUser()}}</span>
        </div>
    </div>
    <div class="container pb-3">
        <div ng-show="ctrl.isMessages() && ctrl.isLogin()">
            <div class="pb-3 text-right">
                <label class="control checkbox">
                    <input type="checkbox" id="checkbox" class="control-input" ng-model="serverMessages"
                           ng-click="ctrl.changeServerMessages()">
                    <span class="control-label">Сообщения сервера</span>
                </label>
            </div>
            <div style="height: 50vh; width: content-box; overflow-y: auto;" id="messagesDiv">
                <div ng-repeat="message in ctrl.getMessages()" role="alert" class="mx-auto alert"
                     ng-class="ctrl.getMessageStyle(message.from)">
                    <div ng-if="!ctrl.isSticker(message.text)" class="col-md-12 text-center">{{message.text}}</div>
                    <div ng-if="ctrl.isSticker(message.text)" class="col-md-12 text-center">
                        <img ng-if="ctrl.isSticker(message.text)" class="img-fluid" style="width: 200px"
                             src="{{message.text}}"/>
                    </div>
                    <div class="row">
                        <div ng-if="!ctrl.isSticker(message.text)" class="col-md-4">
                            <button class="btn btn-secondary btn-sm text-left" ng-click="ctrl.decrypt(message.text)">
                                Расшифровать
                            </button>
                        </div>
                        <div ng-if="ctrl.isSticker(message.text)" class="col-md-4">
                        </div>
                        <div class="col-md-8 font-weight-light text-right"><b>{{message.from}}</b> в {{message.time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stickerSelector" class="fixed-bottom w-75 mx-auto"
             ng-show="ctrl.isStickers() && ctrl.isLogin() && ctrl.isShowStickers()">
            <ul class="list-group list-group-horizontal-sm">
                <li ng-repeat="sticker in ctrl.getStickers()" class="list-group-item">
                    <a ng-click="ctrl.selectSticker(sticker)"><img class="img-fluid" src="{{sticker}}"/></a>
                </li>
            </ul>
        </div>
        <div class="input-group pb-3 fixed-bottom w-75 mx-auto bottom-element" ng-show="ctrl.isLogin()">
            <div class="input-group-append" ng-show="ctrl.isStickers()">
                <button type="button" class="btn btn-sm another-button" ng-click="ctrl.changeIsSelectedStickers()">Стикеры
                </button>
            </div>
            <input type="text" ng-model="inputMessage" class="form-control" placeholder="Введите сообщение">
            <div class="input-group-append">
                <button class="btn btn-sm another-button" ng-click="ctrl.send()">Отправить</button>
            </div>
            <input type="text" ng-model="secretKey" class="form-control" ng-show="ctrl.isLogin()"
                   placeholder="Введите Секретный ключ"/>
            <div class="input-group-append">
                <button type="button" class="btn btn-sm service-button" ng-click="ctrl.clearMessages()">Очистить чат
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="library/angular.min.js"></script>
<script type="text/javascript" src="library/sockjs.js"></script>
<script type="text/javascript" src="library/stomp.js"></script>
<script type="text/javascript" src="app/degree.js"></script>
</body>
</html>
