<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат с защищенными сообщениями</title>
    <link rel="stylesheet" type="text/css" href="library/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/degree.css">
</head>
<body>

<div class="container" ng-app="degree" ng-controller="degreeController as ctrl">
    <div class="py-3 text-center">
        <h2>Передавайте важные сообщения с полной безопасностью</h2>
        <p class="lead about-program" ng-click="ctrl.about()">Подробнее</p>
        <p ng-if="ctrl.isAbout()" ng-bind-html="sce.trustAsHtml(aboutText)"></p>
    </div>
    <div class="w-50 mx-auto pb-3">
        <div class="input-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="ctrl.login()"
                    ng-disabled="ctrl.isLogin()">
                Войти
            </button>
            <input type="text" ng-model="nickname" class="form-control" ng-disabled="ctrl.isLogin()"
                   placeholder="Введите никнейм"/>
            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="ctrl.out()"
                    ng-disabled="!ctrl.isLogin()">
                Выйти
            </button>
        </div>
    </div>
    <div class="w-50 mx-auto pb-3">
        <div class="input-group">
            <p>Ключ будет использоваться для шифрации и дешифрации<br>
            <input type="text" ng-model="secretKey" class="form-control" ng-disabled="!ctrl.isLogin()"
                   placeholder="Введите Секретный ключ"/></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
            </div>
            <div class="mb-3" id="users" ng-if="ctrl.isLogin()">
                <span ng-if="!ctrl.isUsers()">Нет пользователей онлайн</span>
                <ul class="list-group list-group-horizontal-sm">
                    <li ng-repeat="user in ctrl.getUsers()" class="list-group-item">
                        <a ng-click="ctrl.selectUser(user)"> {{user}}</a>
                    </li>
                </ul>
            </div>
            <div class="mb-3" ng-if="ctrl.isUserSelected()">
                <span class="badge badge-secondary py-3 text-center">Выбран пользователь {{ctrl.getSelectedUser()}}</span>
            </div>
            <div class="mb-3">
                <div class="input-group" ng-show="ctrl.isLogin()">
                    <input type="text" ng-model="inputMessage" class="form-control" placeholder="Введите сообщение">
                    <div class="input-group-append">
                        <button class="btn btn-primary" ng-click="ctrl.send()">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-show="ctrl.isMessages()">
            <div ng-repeat="message in ctrl.getMessages()" class="row alert alert-info">
                <button class="btn btn-primary" ng-click="ctrl.decrypt(message.text)">Расшифровать</button>
                <div class="col-md-8" ng-click="">{{message.text}}</div>
                <div class="col-md-4 text-right"><small>[<b>{{message.from}} пишет {{message.recipient !== 'ALL' ? message.recipient : "всем"}}
                </b>{{message.time}}]</small></div>
            </div>
            <span class="float-right">
                <button class="btn btn-primary" ng-click="ctrl.clearMessages()">Очистить</button>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="library/sockjs.js"></script>
<script type="text/javascript" src="library/stomp.js"></script>
<script type="text/javascript" src="library/jquery.js"></script>
<script type="text/javascript" src="app/degree.js"></script>
</body>
</html>
